.about-title-container {
  transform: rotate(90deg) translateX(-50%) translateY(-50%);
  position: absolute;
  left: 0px;
  transform-origin: left center;
}

.about-text {
  color: var(--main-text-color);

  font-family: "RobotoSlab-Light";
  font-size: 22px;
  font-style: normal;
  line-height: normal;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 250px);
  height: 100%;
}
