.about-title-container {
  transform: rotate(90deg) translateX(-50%) translateY(-50%);
  position: absolute;
  left: 0px;
  transform-origin: left center;
}

.about-text {
  color: var(--main-text-color);

  font-family: "RobotoSlab-Light";
  font-size: 22px;
  font-style: normal;
  line-height: normal;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 250px);
  height: 100%;
}

.about-content-container {
  max-height: 100%;
}

.about-text {
  color: var(--main-text-color);

  font-family: "RobotoSlab-Light";
  font-size: 22px;
  font-style: normal;
  line-height: normal;
}

@media only screen and (max-width: 1700px) {
  .about-text {
    font-size: 20px;
  }
}

@media only screen and (max-height: 800px) {
  .about-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  .about-text {
    font-size: 18px;
  }
}
